@font-face {
    font-family: a-700;
    src: url(./fonts/Amazon\ Ember\ Bold.ttf);
}
@font-face {
    font-family: a-400;
    src: url(./fonts/Amazon-Ember-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kitchen-box {
    max-width: 1400px;
}